<body class="bg-gradient-primary">
    <div class="content">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h3>Playlists</h3>
                <div class="card">
                    <div>
                        <h2>aqui vão as playlists</h2>
                    </div>
                </div>
                <h3>Estilos</h3>
                <div class="card">
                    <div>
                        <h2>aqui vão os estilos</h2>
                    </div>
                </div>
                <h3>Descobertas</h3>
                <div class="card">
                    <div>
                        <h2>aqui vão as descobertas</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>